<!DOCTYPE HTML>
<html lang="en">
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>News</title>
 </head>
 <body>
  <h1>Astronautics news</h1><br>

  <ul>
    {% for n in news %}
      <h1>{{ n.title}}</h1>

        {% if n.image %}
            <img src="{{ n.image.url }}"  alt="{{ n.title }}"> <br>
        {% endif %}

        {{ n.content|truncatewords:10 }}
        <a href="{% url 'news_detail' pk=n.id %}">читать далее</a>
        <hr>
    {% endfor %}
</ul>

 </body>
</html>